<form ng-submit="submit()" name="register" class="form-signin">
  <h1 class="form-signin-heading text-muted">Sign In</h1>
  <input type="text"  ng-model="email" class="form-control" placeholder="Email address" required="" autofocus="">
  <input type="password" ng-model="password" class="form-control" placeholder="Password" required="">
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Login
  </button>
  <br/>
  <a class="text=muted pull-right" ui-sref="register">Create account</a>
  <button ng-click="google()" class="btn btn-lg btn-default btn-block" type="button">
    Google
  </button>
</form>
